.divider {
  height: 0;
  animation: revealDivider 1s ease forwards;
}

@keyframes revealDivider {
  to {
    height: 192px;
  }
}

.title {
  width: 0;
  overflow: hidden;
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation: typing 3.5s steps(40, end);
}

@keyframes typing {
  to {
    width: 800px;
  }
}
